.now-played-music-image{
    width: 4.5em;
    height: 4.5em;
}

.music-player{
    position: fixed;
   bottom: 0;
   width: 100%;
}



.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Modify the appearance of the slider */
  .seek_slider,
  .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: rgb(126, 124, 124);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }

  .seek_slider:hover,
  .volume_slider:hover {
    background-color: green;
    opacity: 1.0;
  }

  .seek_slider {
    width: 60%;
  }






.music-player-line{
    color: white;
    width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
}





